@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0a0f1e;
  color: #ffffff;
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

input::placeholder {
  color: #8a96ad;
}
